$imageDim: 120px;

.comment {
  background-color: #f0f2f5;
  width: 90%;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px rgba($color: #000000, $alpha: 0.1);
  display: flex;
  padding: 1.5em;

  &:last-child {
    margin-bottom: 3.5em;
  }

  &__user-image {
    height: $imageDim;
    width: $imageDim;
  }
}
