@import '../../../../../assets/styles/utils/mixins/responsive';

.add-comment-input {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.7em 1em;
  box-shadow: 0 1px 8px 1px rgba($color: #000000, $alpha: 0.1);
  border-radius: 8px;

  @include at-small {
    font-size: 1.2rem;
    padding: 0.4em 1em;
  }

  &::placeholder {
    font-size: 1rem;
    color: rgb(187, 187, 187);
  }
}
