* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
