.link {
  background-color: #17a2b8;
  color: white;
  border-radius: 3px;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  display: inline-block;
  text-transform: capitalize;
  transition: background-color 200ms;

  &--grey {
    background-color: #f2f3f5;
    color: #050523;

    &:hover {
      color: #050523 !important;
      background-color: #e3e4e6 !important;
    }
  }

  &:hover {
    background-color: #1394a8;
    color: #f0f0f0;
  }

  &:active {
    transform: scale(0.97);
  }
}
