.link {
  background-color: #17a2b8;
  color: white;
  border-radius: 3px;
  padding: 0.6em 1em;
  display: inline-block;
  text-transform: capitalize;
  transition: all 200ms;
  box-shadow: 0 1px 3px rgba($color: #000, $alpha: 0.2);

  &--grey {
    background-color: rgb(236, 235, 235);
    color: black;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba($color: #000, $alpha: 0.2);
  }
}
