.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f4af;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    opacity: initial;
    background-color: #fff;
    box-shadow: 0 10px 30px 2px rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    width: 600px;

    &--500w {
      width: 500px;
    }

    &--padding {
      padding: 1em !important;
    }
  }

  &__close-icon {
    width: 18px;
    position: absolute;
    box-sizing: initial;
    top: 1em;
    right: 1em;
    padding: 7px;
    background-color: #e4e6eb;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #dcdddf;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
