$imageDim: 130px;

.post-card {
  position: relative;
  background-color: white;
  margin-bottom: 1em;

  &__wrapper {
    border-radius: 8px;
    padding: 1.5em;
    display: flex;
    box-shadow: 0 1px 8px 1px rgba($color: #000000, $alpha: 0.1);
  }
  &__user-image {
    border-radius: 50%;
    height: $imageDim;
    width: $imageDim;
    object-fit: cover;
    margin-right: 2.8em;
  }

  &__user-name {
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 0.2em;
  }

  &__date {
    color: rgb(163, 163, 163);
    font-size: 0.85rem;
    margin-bottom: 1.5em;
  }

  &__text {
    margin-bottom: 0.8em;
    font-size: 1.55rem;
  }

  &__comment-icon {
    width: 20px;
    margin-right: 0.5em;
    transform: translateY(4px);
  }

  &__controller {
    color: rgb(165, 165, 165);
    font-size: 0.9rem;
  }
}
