.settings {
  position: absolute;
  right: 1em;
  top: 1em;

  &__open-menu {
    box-sizing: initial;
    width: 17px;
    padding: 0.5em;
    border-radius: 50%;

    &:hover {
      background-color: rgb(238, 238, 238);
    }

    &:active {
      background-color: rgb(225, 225, 226);
    }
  }

  &__open-menu-wrapper {
    text-align: right;
  }

  &__trash-icon {
    width: 20px;
    margin-right: 0.7em;
  }

  &__message {
    color: rgb(49, 49, 49);
    font-weight: 600;
    display: block;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__wrapper {
    background-color: white;
    box-shadow: 0 0 20px 2px rgba($color: #000000, $alpha: 0.08);
    padding: 0.5em;
    border-radius: 4px;
    position: relative;
    display: none;

    &--visible {
      display: block;
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(45deg) translate(-70%, calc(-10% + 3px));
    }
  }

  &__delete {
    display: flex;
    padding: 0.6em 1em;
    border-radius: inherit;

    &:hover {
      background-color: rgb(247, 245, 245);
    }

    &:active {
      background-color: rgb(238, 236, 236);
    }
  }
}
