@import '../../../assets/styles/utils/mixins/responsive';

.posts {
  margin-top: var(--nav-height);
  padding: 1em 0 2em;

  @include at-small {
    padding-top: 1.5em;
  }

  &__content {
    padding: 0 1em;

    @include at-small {
      max-width: 80vw;
      margin: 0 auto;
    }
  }
}
