@import '../../../assets/styles/utils/mixins/responsive';

.posts {
  margin: var(--nav-height) 0 2em;

  &__content {
    padding: 1.5em 10px 0;

    @include at-small {
      max-width: 80vw;
      padding: 2em 10px 0;
      margin: 0 auto;
    }
  }
}
