.spinner {
  text-align: center;
  position: relative;
  z-index: 1;
  color: #343a40;
  transform: translateY(2px);

  &--white {
    color: #f4f5f4;
  }

  &--hidden {
    opacity: 0;
  }

  &--space-around {
    padding: 1.5em 0;
  }

  &--full-screen {
    position: absolute;
    transform: translateY(0);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  &--full-screen &__circle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__circle {
    animation: spin 1500ms linear infinite;
    width: 30px;
  }
}

@keyframes spin {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
