.spinner {
  height: 30vh;
  position: relative;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__circle {
    animation: spin 1500ms linear infinite;
    transform: translateX(-4px);
    width: 35px;
    display: block;
    margin: 0 auto 0.3em;
  }

  &__message {
    text-transform: capitalize;
  }
}

@keyframes spin {
  to {
    transform: translateX(-4px) rotate(360deg);
  }
}
