.spinner {
  text-align: center;
  position: relative;
  z-index: 1;
  color: #343a40;
  padding: 1.5em 0;

  &--white {
    color: #f4f5f4;
  }

  &--full-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__circle {
    animation: spin 1500ms linear infinite;
    width: 30px;
    display: inline-block;
    transform: translateY(2px);
  }
}

@keyframes spin {
  to {
    transform: translateY(2px) rotate(360deg);
  }
}
