@import '../../../assets/styles/utils/mixins/responsive';

.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em 0;
  z-index: 2;

  @include at-large {
    padding: 2em 0 5em;
  }
}

.MuiPaginationItem-root {
  color: #f7f7f7 !important;
}

.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: var(--blue-button) !important;
}

.MuiPaginationItem-textPrimary.Mui-selected:hover {
  background-color: var(--blue-button-hover) !important;
}
