@mixin atMedium {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin placeholer-position-on-border {
  top: 0;
  left: 0;
  font-size: 0.8rem;
}

@mixin basic-field-styles {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px var(--input-border-color);
  color: var(--input-color);
  padding: 0.8em 1em;
  font-size: 1.2rem;
  border-radius: var(--input-border-radius);
  transition: all var(--input-transition-duration);
}
