:root {
  --blue-button: #0067b8;
  --blue-button-hover: #02599b;
  --grey-button: #f5f5f5;
  --grey-button-hover: #dbdbdb;
  --yellow-background: #f6cc4c;
  --red-error-message: #e81123;
  --button-active-scale: 0.96;
  --input-color: #4b4e51;
  --input-border-color: #80868b;
  --input-placeholder-color: #7a7e83;
  --input-transition-duration: 120ms;
  --input-border-radius: 5px;
}
