:root {
  --main-color: #4286f3;
  --main-color-dark: #206ae2;
  --red-error-message: #e81123;
  --nav-bg-color: #343a40;

  --input-color: #303235;
  --input-border-color: #8c8f92;
  --input-placeholder-color: #7a7e83;
  --input-transition-duration: 120ms;
  --input-border-radius: 5px;

  --transparent-white: #ffffff9f;
}
