:root {
  --main-color: #4286f3;
  --main-color-dark: #206ae2;
  --grey-button: #f3f1f1;
  --grey-button-hover: #dbdbdb;
  --red-error-message: #e81123;

  --nav-height: 55px;
  --nav-bg-color: #343a40;
  --nav-link-color: #ffffff80;
  --nav-link-hover-color: #ffffffbf;

  --input-color: #303235;
  --input-border-color: #8c8f92;
  --input-placeholder-color: #7a7e83;
  --input-transition-duration: 120ms;
  --input-border-radius: 5px;
}
