.confirm-modal {
  &__title {
    font-size: 1.5rem;
    padding: 0.9rem 1rem 1rem;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #e5e5e5;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__description {
    padding: 0 1rem 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__actions {
    text-align: right;
    padding: 1em;
  }

  &__button {
    padding: 0.5em 0.9em;
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: 600;

    &:active {
      transform: scale(0.97);
    }
  }

  &__confirm-button {
    background-color: #1877f2;
    color: white;
    margin-left: 0.6em;

    &:hover {
      color: rgb(247, 245, 245);
      background-color: #1070ee;
    }
  }

  &__cancel-button {
    color: #1877f2;

    &:hover {
      background-color: rgb(247, 245, 245);
    }

    &:active {
      background-color: #1876f217;
    }
  }
}
