.skill-list {
  margin-left: auto;
  text-align: left;

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 0.3em;
    font-weight: 400;
  }

  &__container {
    background-color: white;
    border: 1px solid rgb(238, 237, 237);
  }
}
