@import '../../../assets/styles/utils/mixins';

.headline {
  text-align: center;
  margin-bottom: 2em;
  font-family: 'Montserrat';

  &__wrapper {
    margin: 0 auto;
    display: inline-block;
  }

  &__title {
    font-size: 2.5rem;
    font-size: 400;
    text-transform: uppercase;

    @include atLarge {
      font-size: 3.5rem;
    }
  }

  &__sub-title {
    font-weight: 400;
    text-align: left;
    transform: translateX(1px);

    @include atLarge {
      font-size: 1.2rem;
    }

    &::after {
      content: '.';
    }
  }

  &__title,
  &__sub-title {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}
