@import '../../../../../assets/styles/utils/mixins/responsive';
@import '../../../../../assets/styles/utils/mixins/centerlized-content';
@import '../../../../../assets/styles/utils/mixins/modal';

.create-post-modal {
  @include modal-container;

  &__content {
    @include modal-content;

    padding: 1em;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1;

    &::first-letter {
      text-transform: uppercase;
    }

    @include at-small {
      text-align: center;
    }
  }

  &__textarea {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.4rem;
    margin-bottom: 0.5em;

    &::placeholder {
      color: #9599a1;
      font-size: inherit;
    }
  }

  &__button {
    width: 100%;
    background-color: #e4e6eb;
    color: #bcc0c4;
    padding: 0.5em 0;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: initial;
  }

  &__button--valid {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: var(--main-color-dark);
    }

    &:active {
      transform: scale(0.99);
    }
  }
}
