@import '../../../../../assets/styles/utils/mixins/form';

.input {
  position: relative;
  margin-bottom: 3.5em;

  @include invalid-field-styles;

  &__field {
    @include basic-field-styles;
  }

  &__placeholder {
    @include placeholder-styles;

    &--to-left {
      left: 2em;
    }
  }

  @include placeholder-field-interactions;
}
