@import '../../../../../assets/styles/utils/mixins/form';

.input {
  position: relative;
  margin-bottom: 3em;

  &--invalid &__field {
    box-shadow: none;
    border-color: var(--red-error-message);
  }

  &--invalid .field-description {
    color: var(--red-error-message);
  }

  &__field {
    @include basic-field-styles;
  }

  &__placeholder {
    @include placeholder-styles;

    &--to-left {
      left: 2em;
    }
  }

  @include placeholder-field-interactions;
}
