@import '../../../assets/styles/utils/mixins/responsive';

.back-section {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px #eeeeee;
  transition: box-shadow 120ms;

  @include at-small {
    margin-bottom: 3em;
  }

  &--elevated {
    box-shadow: 0 2px 5px rgba(#000000, 0.15);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;

    @include at-medium {
      padding: 1em 0;
      width: 80%;
      margin-left: auto;
    }
  }

  &__title {
    color: #202124;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__back-arrow {
    width: 20px;
    box-sizing: initial;
    margin-left: -1em;
    margin-right: 0.7em;
    padding: 1em;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 120ms;

    &:active {
      background-color: #e4e4e4;
    }
  }
}
