@import '../../../../../assets/styles/utils/mixins/responsive';
.create-post-form {
  background-color: white;
  margin-bottom: 1em;
  padding: 10px;
  padding-left: 0.8em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.1);
  border: 1px solid rgba(67, 78, 168, 0.295);

  &__user-image {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.8em;

    @include at-small {
      width: 40px;
      height: 40px;
    }
  }

  &__input {
    background-color: #f0f2f5;
    color: #464748;
    border-radius: 16px;
    width: 100%;
    padding: 0.6em 1em;
    font-size: 4.3vw;
    cursor: pointer;
    transition: background-color 50ms;
    caret-color: transparent;

    @include at-small {
      font-size: 1.45rem;
    }

    &::placeholder {
      color: #65676b;
      font-size: inherit;
    }

    &:hover {
      background-color: #ebeef3;
    }
  }
}
