$error: rgb(253, 99, 99);

.form {
  width: 55%;
  margin: 0 auto;

  &__input {
    width: 100%;
    outline: none;
    border: 1px solid rgb(212, 212, 212);
    color: rgb(83, 83, 83);
    padding: 0.6em 0.7em;
    font-size: 1.2rem;
    margin-bottom: 1em;

    &::placeholder {
      font-size: 1.3rem;
      color: rgb(196, 196, 196);
      text-transform: capitalize;
      position: relative;
      top: 1px;
      left: -1px;
    }
  }

  select {
    text-transform: capitalize;
  }

  textarea {
    resize: vertical;
    height: 100px;
  }

  &__input--error {
    border-color: $error;
  }

  &__input-error-message {
    margin: -1.2em 0 1em;
    font-size: 0.8rem;
    color: $error;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__input-message {
    color: #6c757d;
    font-size: 0.8rem;
    margin: -1em 0 1.2em;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__button {
    width: 100%;
    padding: 1em 0;
    text-transform: capitalize;
    background-color: #17a2b8;
    color: white;
    border: none;
    outline: none;
    font-size: 0.9rem;
    cursor: pointer;
  }

  &__input,
  &__button {
    border-radius: 4px;
  }

  &__require-message {
    color: rgb(88, 88, 88);
    font-size: 0.75rem;
    margin-bottom: 1em;
  }
}
