.experience-item {
  border: 1px solid rgb(238, 237, 237);
  margin-bottom: 1em;
  padding: 1em;
  min-height: 176px;

  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__details > div:not(:last-child) {
    margin-bottom: 0.3em;
  }

  &__detail-info {
    font-weight: 600;
    font-style: italic;
    margin-right: 0.4em;
  }
}
