$error: rgb(253, 99, 99);
$message: #6c757d;
$inputBorder: rgb(212, 212, 212);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  cursor: pointer;
}

.form {
  width: 55%;
  margin: 0 auto;

  &__input {
    width: 100%;
    outline: none;
    border: 1px solid $inputBorder;
    color: rgb(83, 83, 83);
    padding: 0.6em 0.7em;
    font-size: 1.2rem;
    margin-bottom: 1em;

    &::placeholder {
      font-size: 1.3rem;
      color: rgb(196, 196, 196);
      text-transform: capitalize;
      position: relative;
      top: 1px;
      left: -1px;
    }
  }

  select {
    text-transform: capitalize;
  }

  textarea {
    resize: vertical;
    height: 100px;
  }

  &__input-header {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    font-style: italic;
  }

  &__input--error {
    border-color: $error;
  }

  &__input-error-message {
    margin: -1.2em 0 1em;
    font-size: 0.8rem;
    color: $error;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__error-icon {
    width: 12px;
    transform: translateY(1px);
    margin-right: 0.4em;
  }

  &__input-message {
    color: $message;
    font-size: 0.8rem;
    margin: -1em 0 1.2em;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__submit-btn {
    width: 100%;
    padding: 1em 0;
    text-transform: capitalize;
    background-color: #17a2b8;
    color: white;
    border: none;
    outline: none;
    font-size: 0.9rem;
  }

  &__input,
  &__submit-btn {
    border-radius: 4px;
  }

  &__require-message {
    color: rgb(88, 88, 88);
    font-size: 0.75rem;
    margin-bottom: 1em;
  }

  #toggle-input {
    margin-right: 0.3em;
  }

  &__toggle-to-date-label,
  #toggle-input {
    cursor: pointer;
  }

  &__toggle-to-date-label {
    display: inline-block;
    transform: translateY(-2px);
    user-select: none;
    margin: -0.5em 0 1em;
  }

  &__social-toggle-btn {
    border: none;
    outline: none;
    background: none;
    margin-right: 0.5em;
    font-size: 1rem;
    background-color: rgb(248, 248, 248);
    color: #363636;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }

  &__social-toggle-btn-wrapper {
    margin-bottom: 1em;
  }

  &__social-toggle-message {
    margin-right: 0.25em;
  }

  &__social-toggle-optional-message {
    color: $message;
  }

  &__socials {
    margin-bottom: 1em;
  }

  &__social-input {
    padding-left: 3em;
    display: block;
  }

  &__social-input-wrapper {
    position: relative;
  }

  &__social-icon {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__social-icon-wrapper {
    position: absolute;
    border-right: 1px solid $inputBorder;
    height: 100%;
    width: 50px;
  }
}

.link {
  background-color: #17a2b8;
  color: white;
  border-radius: 3px;
  padding: 0.6em 1em;
  margin-bottom: 1.4em;
  display: inline-block;
  text-transform: capitalize;
  transition: all 200ms;
  box-shadow: 0 1px 3px rgba($color: #000, $alpha: 0.2);

  &--grey {
    background-color: rgb(236, 235, 235);
    color: black;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba($color: #000, $alpha: 0.2);
  }
}

.collection {
  list-style: none;
}

$main: #17a2b8;
$border: rgb(238, 237, 237);

.palet {
  flex-basis: calc(50% - 0.4em);

  &__title {
    text-align: center;
    color: $main;
    font-size: 1.5rem;
    margin-bottom: 0.4em;
    text-transform: capitalize;
  }

  &__card {
    border: 1px solid $border;
    margin-bottom: 1em;
    padding: 1em;
    min-height: 176px;
  }

  &__card-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__card-detail > div:not(:last-child) {
    margin-bottom: 0.3em;
  }

  &__card-detail-info {
    font-weight: 600;
    font-style: italic;
    margin-right: 0.4em;
  }
}

.content-wrapper {
  padding: 6em 0;
}
