$main: #17a2b8;
$border: rgb(238, 237, 237);

.palet {
  flex-basis: calc(50% - 0.4em);

  &__title {
    text-align: center;
    color: $main;
    font-size: 1.5rem;
    margin-bottom: 0.4em;
    text-transform: capitalize;
  }

  &__card {
    border: 1px solid $border;
    margin-bottom: 1em;
    padding: 1em;
    min-height: 176px;
  }

  &__card-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__card-detail > div:not(:last-child) {
    margin-bottom: 0.3em;
  }

  &__card-detail-info {
    font-weight: 600;
    font-style: italic;
  }
}
