@import '../../../assets/styles/utils/mixins/responsive';

.landing {
  background: url('./images/masthead-alt-06-wide-large-cropped.jpg') center;
  background-size: cover;
  position: relative;
  color: #fefefe;
  overflow: hidden;

  & * {
    font-weight: 500;
  }

  &__nav {
    background-color: rgba(#ffffff, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
    padding-top: 0.9em;
    padding-bottom: 0.9em;

    @include at-medium {
      padding-top: 0.55em;
      padding-bottom: 0.55em;
    }
  }

  &__profiles-link {
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-weight: 400;
  }

  &__cube-logo {
    width: 16px;
    margin-right: 0.3em;
  }

  &__login-button {
    background-color: white;
    font-size: 0.75rem;
    color: #0072c9;
    padding: 0.5em 1em;
    border-radius: 2px;

    @include at-medium {
      background-color: #f3f3f3;
      padding: 0.5em 1.5em;
      font-size: 1rem;
      border-radius: 4px;
    }
  }

  &__signup-button {
    background-color: var(--main-color-dark);
    padding: 0.9em 8.1em;
    font-size: 1.15rem;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;

    @include at-medium {
      width: auto;
      font-size: 1rem;
    }
  }

  &__login-button,
  &__signup-button {
    transition: transform 120ms, box-shadow 120ms;
    box-shadow: 1px 0px 2px rgba(#000, 0.2);

    &:hover {
      transform: translateY(-1px) translateZ(0);
      box-shadow: 0 2px 5px rgba(#000, 0.2);
    }
  }

  &__nav,
  &__connector,
  &__wrapper {
    padding-right: 1.4rem;
    padding-left: 1.4rem;

    @include at-medium {
      padding-right: 13%;
      padding-left: 13%;
    }
  }

  &__headline,
  &__connector,
  &__message {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__connector {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-transform: capitalize;

    @include at-medium {
      padding-top: 0.55rem;
      font-size: 2rem;
    }
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__headline {
    font-size: 2.32rem;

    @include at-medium {
      line-height: 1;
      font-size: 3.8rem;
    }
  }

  &__message {
    font-size: 0.95rem;
    margin-bottom: 1em;

    @include at-medium {
      margin-bottom: 0;
    }
  }

  &__cta-wrapper {
    margin: 1em 0 1em;

    @include at-medium {
      border-top: 1px solid #ffffff;
      padding-top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
