@import '../../../assets/styles/utils/mixins/responsive';
@import '../../../assets/styles/utils/mixins/button';
@import '../../../assets/styles/utils/mixins/wrapper';

.landing {
  background: url('./images/masthead-alt-06-wide-large-cropped.jpg') center;
  background-size: cover;
  position: relative;
  color: #fefefe;
  overflow: hidden;

  & * {
    font-weight: 500;
  }

  &__nav {
    background-color: rgba(#ffffff, 0.3);
    backdrop-filter: blur(2px);
  }

  &__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.9em;
    padding-bottom: 0.9em;

    @include at-medium {
      padding-top: 0.55em;
      padding-bottom: 0.55em;
    }
  }

  &__login-button {
    @include login-button;
  }

  &__signup-button {
    @include signup-button;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;

    @include at-medium {
      width: auto;
      padding: 0.9rem 8.1rem !important;
    }
  }

  &__connector {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-transform: capitalize;

    @include at-medium {
      padding-top: 0.55rem;
      font-size: 2rem;
    }
  }

  &__nav-content,
  &__connector,
  &__wrapper {
    @include wrapper;
  }

  &__headline,
  &__connector,
  &__message {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;

    @include at-medium {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__headline {
    font-size: 2.32rem;

    @include at-medium {
      line-height: 1;
      font-size: 3.8rem;
    }
  }

  &__message {
    font-size: 0.95rem;
    margin-bottom: 1em;

    @include at-medium {
      margin-bottom: 0;
    }
  }

  &__cta-wrapper {
    margin: 1em 0 1em;

    @include at-medium {
      border-top: 1px solid #ffffff;
      padding-top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
