@import '../../../assets/styles/utils/mixins/responsive';
@import '../../../assets/styles/utils/mixins/button';

.landing {
  background: url('./images/masthead-alt-06-wide-large-cropped.jpg') center;
  background-size: cover;
  position: relative;
  color: #fefefe;
  overflow: hidden;

  & * {
    font-weight: 500;
  }

  &__nav {
    background-color: rgba(#ffffff, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
    padding-top: 0.9em;
    padding-bottom: 0.9em;

    @include at-medium {
      padding-top: 0.55em;
      padding-bottom: 0.55em;
    }
  }

  &__profiles-link {
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-weight: 400;
  }

  &__cube-logo {
    width: 16px;
    margin-right: 0.3em;
  }

  &__login-button {
    @include login-button;
  }

  &__signup-button {
    @include signup-button;

    padding: 0.9em 8.1em !important;
  }

  &__nav,
  &__connector,
  &__wrapper {
    padding-right: 1.4rem;
    padding-left: 1.4rem;

    @include at-medium {
      padding-right: 13%;
      padding-left: 13%;
    }
  }

  &__headline,
  &__connector,
  &__message {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__connector {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-transform: capitalize;

    @include at-medium {
      padding-top: 0.55rem;
      font-size: 2rem;
    }
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__headline {
    font-size: 2.32rem;

    @include at-medium {
      line-height: 1;
      font-size: 3.8rem;
    }
  }

  &__message {
    font-size: 0.95rem;
    margin-bottom: 1em;

    @include at-medium {
      margin-bottom: 0;
    }
  }

  &__cta-wrapper {
    margin: 1em 0 1em;

    @include at-medium {
      border-top: 1px solid #ffffff;
      padding-top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
