.user-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;

  &__photo-container {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba($color: #000, $alpha: 0.3);

    &:hover .dashboard-panel__update-photo-label {
      background-color: #f8faff;
    }
  }

  &__user-photo {
    border-radius: 50%;
    display: block;
    width: 100px;
  }

  &__camera-icon {
    width: 18px;
    display: block;
  }

  &__update-photo-input {
    display: none;
  }

  &__update-photo-label {
    cursor: pointer;
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0px rgba($color: #000000, $alpha: 0.3);
  }
}
