@import '../../../../../assets/styles/utils/mixins/responsive';
@import '../../../../../assets/styles/utils/mixins/wrapper';
@import '../../../../../assets/styles/utils/mixins/content-wrapper';

.dashboard-panel {
  @include wrapper;
  @include content-wrapper;

  &__greetings {
    text-align: center;
    font-size: 7.5vw;
    font-weight: 500;
    margin-bottom: 1em;

    @media (min-width: 450px) {
      font-size: 1.8rem;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
