@import '../../../../../assets/styles/utils/mixins/responsive';

.dashboard-panel {
  padding: 2.5em 10px 5em 10px;

  @include at-small {
    padding-top: 4em;
  }

  &__greetings {
    text-align: center;
    font-size: 7.5vw;
    font-weight: 500;
    margin-bottom: 1em;

    @media (min-width: 450px) {
      font-size: 1.8rem;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__nav {
    margin-bottom: 4em;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  &__link {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 5px;
    background-color: var(--main-color);
    box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.17);
    transition: all 200ms;

    &:hover {
      background-color: var(--main-color-dark);
      box-shadow: 0 0 15px rgba($color: #000, $alpha: 0.13);
    }

    &:active {
      text-decoration: underline;
    }

    span::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon {
    width: 20px;
    margin-right: 1em;
  }

  &__photo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
  }

  &__photo-container {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba($color: #000, $alpha: 0.3);

    &:hover .dashboard-panel__update-photo-label {
      background-color: #f8faff;
    }
  }

  &__user-photo {
    border-radius: 50%;
    display: block;
    width: 100px;
  }

  &__camera-icon {
    width: 18px;
    display: block;
  }

  &__update-photo-input {
    display: none;
  }

  &__update-photo-label {
    cursor: pointer;
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 1px 2px 0px rgba($color: #000000, $alpha: 0.3);
  }

  &__cridentials {
    display: flex;
    align-items: center;
    flex-direction: column;

    table:first-child {
      margin-bottom: 3em;
    }
  }
}
