@import '../../../assets/styles/utils/mixins/responsive';

.profiles {
  position: relative;
  background: url('../../../assets/images/nature-3--1920-1280--q50.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 3em;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
  }

  &__content {
    position: relative;
    z-index: 1;
    list-style: none;
    padding: 4em 1.5em 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2em;

    @include at-medium {
      gap: 2em;
    }
  }
}
