@import '../../../../../assets/styles/utils/mixins/form';

.text-area {
  position: relative;
  margin-bottom: 3em;

  &__field {
    resize: vertical;
    min-height: 100px;
    font-weight: 500;
    font-family: 'Montserrat';
    @include basic-field-styles;
  }

  &__placeholder {
    @include placeholder-styles;

    top: 22px;
  }

  @include placeholder-field-interactions;
}
