$bgColor: #343a40;
$lightGreyLinkHover: rgba(255, 255, 255, 0.75);
$greyLink: rgba(255, 255, 255, 0.5);

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 8%;
  z-index: 2;
  color: white;
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  box-shadow: 0 3px 6px 3px rgba($color: #000000, $alpha: 0.1);

  &__right-section,
  &__developer {
    color: $greyLink;
  }

  &__right-section,
  &__left-section {
    cursor: pointer;
    display: flex;
    display: flex;
  }

  &__right-section > *:hover,
  &__developer:hover {
    color: $lightGreyLinkHover;
  }

  &__right-section > * {
    margin-right: 1em;
  }

  &__devconnector,
  &__sign-up {
    margin-right: 1.1em;
  }

  &__user-image {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5em;
    position: relative;
    top: -2px;
  }

  &__logout {
    display: flex;
  }
}
