$bgColor: #343a40;
$lightGreyLinkHover: rgba(255, 255, 255, 0.75);
$greyLink: rgba(255, 255, 255, 0.5);

.header {
  color: white;
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  padding: 1em 8%;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;

  &__right-section,
  &__developer {
    color: $greyLink;
  }

  &__right-section,
  &__left-section {
    cursor: pointer;
    display: flex;
    display: flex;
  }

  &__right-section > div:hover,
  &__developer:hover {
    color: $lightGreyLinkHover;
  }

  &__devconnector,
  &__sign-up {
    margin-right: 1.1em;
  }
}
