.table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.05);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

  &__headers {
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
  }

  th {
    text-align: left;
    padding: 0.9em 2em;
    font-weight: 400;
  }

  td {
    padding: 1em 2em;
    color: #676767;
  }

  tr {
    &:not(:last-child):not(:first-child) {
      border-bottom: 1px solid #f3f3f3;
    }

    &:not(:first-child) {
      transition: background-color 120ms;
      cursor: pointer;

      &:hover {
        background-color: #f5f5fd;
      }
    }
  }
}
