.table {
  border-collapse: collapse;

  &__first-column {
    width: 400px;
  }

  &__second-column,
  &__third-column {
    width: 250px;
  }

  &__remove-logo-column {
    display: none;
  }

  &__logo-container {
    visibility: hidden;
  }

  &__remove-logo {
    visibility: visible;
    color: rgb(255, 113, 113);
    transform: translateY(calc(50% - 6px));
    transition: all 200ms;
    cursor: pointer;

    &:hover {
      font-size: 1.1rem;
    }
  }

  tr {
    text-align: left;

    &:nth-child(even) {
      background-color: #ddd;
    }
  }

  td,
  th {
    padding: 0.4em 0.7em;
    border: 1px solid #ddd;
  }
}
