.modal-close-button {
  width: 18px;
  height: 18px;
  box-sizing: initial;
  padding: 7px;
  background-color: #e4e6eb;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #dcdddf;
  }

  &:active {
    transform: scale(0.95);
  }
}
