.add-post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f4c9;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    padding: 1em;
    opacity: initial;
    background-color: #fff;
    box-shadow: 0 10px 30px 2px rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    width: 500px;
  }

  &__title {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 0.9em;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0.8em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__user-details {
    display: flex;
    margin-bottom: 1.5em;
  }

  &__user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1em;
  }

  &__user-name {
    text-transform: capitalize;
  }

  &__textarea {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    resize: none;
    font-size: 2rem;

    &::placeholder {
      color: #9599a1;
      font-size: inherit;
    }
  }

  &__button {
    width: 100%;
    background-color: #e4e6eb;
    color: #bcc0c4;
    padding: 0.5em 0;
    border-radius: 6px;
    text-transform: capitalize;

    &:hover {
      background-color: #1170ec;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &__button--valid {
    background-color: #1877f2;
    color: white;
  }
}
