@import '../../../../../assets/styles/utils/mixins/nav';

.mobile-nav {
  @include nav-container;
  z-index: 2;

  &__dashboard-link {
    display: flex;
    align-items: center;

    &:active {
      text-decoration: underline;
    }
  }
}
