@import '../../../../../assets/styles/utils/mixins/nav';

.desktop-nav {
  @include nav-container;

  &__user-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__flex {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__logout-button {
    cursor: pointer;
  }
}
