@import '../../../../../assets/styles/utils/mixins/nav';

.desktop-nav {
  @include nav-container;

  &__devconnector {
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  &__login-button {
    background-color: #f3f3f3;
    color: #0072c9;
    padding: 0.5em 1.5em;
    border-radius: 4px;
    font-weight: 500;
    transition: transform 120ms, box-shadow 120ms;
    box-shadow: 1px 0px 2px rgba(#000, 0.2);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 2px 5px rgba(#000, 0.2);
    }
  }

  &__user-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__flex {
    display: flex;
    // justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__logout-button {
    cursor: pointer;
  }
}
