@import '../../../../assets/styles/utils/mixins/button';
@import '../../../../assets/styles/utils/mixins/centerlized-content';
@import '../../../../assets/styles/utils/mixins/responsive';

.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin-top: var(--nav-height);

  @include at-small {
    @include centerlized-content;

    margin-top: 0;
    background-color: var(--transparent-white);
  }

  &__content {
    position: relative;
    opacity: initial;
    background-color: #fff;

    @include at-small {
      border-radius: 10px;
      width: 600px;
      box-shadow: 0 10px 30px 2px rgba($color: #000000, $alpha: 0.1);
      animation: zoom 150ms;
    }
  }

  &__header {
    display: flex;
    padding: 0.9rem 1rem 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  &__title {
    font-size: 1.5rem;
    flex-grow: 0;
    width: 80%;
    overflow-wrap: break-word;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__description {
    padding: 0 1rem 0;
    margin-bottom: 1em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__actions {
    text-align: right;
    padding: 1em;
  }

  &__confirm-button,
  &__cancel-button {
    @include blue-button;
    @include rounded-button;
  }

  &__cancel-button {
    @include transparent-button;
    margin-right: 1em;
  }
}
