@import '../utils/mixins/responsive';

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;

  @include at-small {
    background-image: url('../../../assets/images/nature-1.jpg');
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-top: 2em;
    background-color: white;
    box-shadow: 0 0 20px 1px rgba($color: #000000, $alpha: 0.3);

    @include at-small {
      width: 440px;
      height: auto;
      padding-top: 2em;
    }
  }

  &__website-logo {
    width: 50px;
    display: block;
    margin-bottom: 1em;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.55em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__sub-title {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 1.3em;

    &::first-letter {
      text-transform: uppercase;
    }

    &::after {
      content: '.';
    }
  }

  &__input {
    display: block;
    width: 100%;
    border-bottom: 1px solid #575a5f;
    padding: 0.6em 0.1em;
    font-size: 0.965rem;

    &::placeholder {
      color: #666666;
    }

    &--invalid {
      border-bottom-color: var(--red-error-message);
    }
  }

  &__inputs-wrapper {
    margin-bottom: 2em;
  }

  &__inputs-wrapper > div:not(:last-child) {
    margin-bottom: 1em;
  }

  &__message {
    color: #1b1b1b;
    font-size: 0.83rem;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
  }

  &__link {
    color: var(--main-color);
    margin-left: 0.3em;

    &:hover {
      text-decoration: underline;
    }
  }

  &__spinner-container {
    opacity: 0;

    &--visible {
      opacity: 1;
    }
  }

  &__button-wrapper {
    text-align: right;
  }

  &__button-wrapper--with-spinner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button-wrapper--with-spinner .spinner {
    margin-right: 1.5em;
  }

  &__back-arrow-icon {
    box-sizing: initial;
    width: 15px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transform: translate(-5px, 6px);
    transition: all 100ms;

    &:hover {
      background-color: #e9e7e7;
    }

    &:active {
      transform: translate(-5px, 6px) scale(0.9);
    }
  }

  &__back-arrow-icon-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
  }

  &__user-email {
    font-size: 0.9rem;
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2em;
  }

  &__label-message {
    display: inline-block;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  & #password-visibility-input {
    width: 17px;
    height: 17px;
    margin-right: 0.6em;
  }
}
