@import '../utils/mixins/button';

.form {
  position: relative;
  z-index: 3;

  &__container {
    width: 600px;
    position: relative;
    left: 20%;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
    padding: 2em;
    margin-bottom: 3em;
    border-radius: 5px;
  }

  &__title {
    font-weight: 400;
    color: #4c4f53;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 2em;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & .spinner {
      margin-right: 2em;
    }

    & .link {
      margin-right: 1em;
    }
  }
}
