@import '../utils/mixins/button';
@import '../utils/mixins/responsive';

.form {
  padding-bottom: 1em;

  @include at-small {
    padding-bottom: 3em;
  }

  &__container {
    padding: 1.5em;

    @include at-small {
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
      margin-right: 2em;
      margin-left: 2em;
      border-radius: 5px;
      padding: 2em;
    }

    @include at-medium {
      width: 600px;
      margin-right: 0;
      margin-left: 0;
      position: relative;
      left: 20%;
    }
  }

  &__title {
    font-weight: 400;
    color: #4c4f53;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 2em;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & .spinner {
      margin-right: 2em;
    }

    & .link {
      margin-right: 1em;
    }
  }
}
