.form {
  width: 600px;
  margin: calc(var(--header-height) + 6em) auto 3em;
  box-shadow: 0 0 2px 1px rgba($color: #000000, $alpha: 0.2);
  padding: 2em;
  border-radius: 5px;

  &__title {
    font-weight: 400;
    color: #4c4f53;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 2em;
  }

  &__submit-button {
    text-transform: capitalize;
    background-color: var(--blue-button);
    color: white;
    font-size: 0.9rem;

    &:hover {
      background-color: var(--blue-button-hover);
    }
  }

  &__cancel-button,
  &__submit-button {
    padding: 0.7em 1.5em;
    border-radius: 4px;
    transition: all 120ms;
  }

  &__cancel-button {
    color: var(--blue-button);
    margin-right: 1em;

    &:hover {
      color: var(--blue-button-hover);
      background-color: #f3f3f3;
    }
  }

  &__buttons-wrapper {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
