.link {
  background-color: var(--blue-button);
  color: white;
  border-radius: 3px;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  display: inline-block;
  text-transform: capitalize;
  transition: background-color 200ms;

  &--grey {
    background-color: var(--grey-button);
    color: #050523;

    &:hover {
      background-color: var(--grey-button-hover) !important;
    }
  }

  &:hover {
    background-color: var(--blue-button-hover);
  }

  &:active {
    transform: scale(0.98);
  }
}
