.dashboard {
  padding-top: calc(58px + 2em);
  padding-bottom: 4em;

  &__container {
    width: 90%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 400;
    font-size: 2.2rem;
    text-transform: capitalize;
  }

  &__greeting {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 3em;
  }

  &__welcome {
    margin-right: 0.3em;
  }

  &__username {
    font-style: italic;
    color: #0d72df;
    text-decoration: underline;
  }

  &__create-profile-message {
    margin-bottom: 1em;
    color: rgb(255, 81, 81);
  }

  &__navigation-links {
    margin-bottom: 0.5em;
  }

  &__navigation-links > a:not(:last-child) {
    margin-right: 0.7em;
  }

  &__section {
    margin-bottom: 3em;
  }

  &__section-title {
    font-weight: 600;
    margin-bottom: 0.6em;
    text-transform: capitalize;
  }

  &__empty-section {
    margin-bottom: 1em;
  }

  &__empty-message {
    margin-top: -1em;
  }
}
