.delete-post-button {
  &__icon {
    width: 40px;
    transform: translateY(14px);
    margin-left: 1em;
    transition: all 200ms;

    &:hover {
      transform: translateY(12px);
      box-shadow: 0 3px 10px rgba($color: #000, $alpha: 0.2);
    }
  }
}
