$greyBackground: #f8f9fa;
$border: rgb(238, 237, 237);

.post-item {
  background-color: $greyBackground;
  border: 1px solid $border;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  display: flex;

  &__user-details {
    margin-right: 3em;
  }

  &__user-image {
    border-radius: 15px;
    width: 150px;
    margin-bottom: 0.5em;
  }

  &__user-name {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
  }

  &__thumb-up {
    width: 20px;
    margin-right: 1em;
    transform: translateY(2px);

    &:hover {
      cursor: pointer;
    }
  }

  &__post-text {
    margin-bottom: 2em;
    font-size: 1.7rem;
  }
}
