.profile-list {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: calc(var(--header-height) + 4em) 10px 160px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.2em;
}
