$imageDim: 100px;
$buttonBlueBg: #6f8cff;
$buttonTextGrey: #b6b7c1;

.profile-item {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.1);
  padding: 3em 0;
  text-transform: capitalize;
  transition: all 150ms;
  background-color: white;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 1px rgba($color: #000000, $alpha: 0.1);
  }

  &__image {
    width: $imageDim;
    height: $imageDim;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px 1px rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 0.8em;
  }

  &__user-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #21252c;
    text-transform: capitalize;
    margin-bottom: 0.3em;
  }
  &__user-job {
    color: #aaacad;
    font-size: 0.9rem;
    margin-bottom: 2.5em;
  }

  &__button {
    padding: 0.6em 1em;
    border-radius: 3px;
    display: inline-block;
    color: $buttonTextGrey;
    border: 1px solid $buttonTextGrey;
    transition: all 120ms;

    &:hover {
      background-color: $buttonBlueBg;
      color: white;
      border-color: $buttonBlueBg;
      box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: 0.1);
    }
  }
}
