.profile-item {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.2);
  padding: 3em 0;
  text-transform: capitalize;
  background-color: white;
  opacity: 0;
  position: relative;
  overflow: hidden;

  &--admin {
    &::after {
      content: 'admin';
      background-color: var(--main-color);
      text-transform: uppercase;
      position: absolute;
      color: white;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 0;
      display: inline-block;
      font-size: 0.7rem;
      font-weight: 700;
    }
  }

  &__image {
    $imageDim: 100px;

    width: $imageDim;
    height: $imageDim;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 0.8em;
  }

  &__user-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #21252c;
    text-transform: capitalize;
    margin-bottom: 0.3em;
  }
  &__user-job {
    color: #aaacad;
    font-size: 0.9rem;
    margin-bottom: 2.5em;
  }

  &__button {
    padding: 0.6em 1em;
    border-radius: 3px;
    display: inline-block;
    color: #b6b7c1;
    border: 1px solid #cbcbd1;
    transition: all 120ms;

    &:hover {
      background-color: var(--main-color);
      color: white;
      border-color: var(--main-color);
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    }

    &:active {
      transform: var(--button-active-scale);
    }
  }
}

@keyframes zoom {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
