$bgColor: #343a40;

.footer {
  color: white;
  background-color: $bgColor;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  transform: translateY(100%);
}
