* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #050505;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  text-align: center;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
  display: inline-block;
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}
