.skill-item {
  color: #3c3838;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #5ebae4;
    border-radius: 3px;
    margin-top: 0.3em;
  }
}
