@mixin blue-button {
  text-transform: capitalize;
  background-color: var(--main-color);
  color: white;
  transition: all 120ms;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.6em 1.7em;

  &:hover {
    background-color: var(--main-color-dark);
  }

  &:active {
    transform: scale(0.96);
  }
}

@mixin grey-button {
  background-color: var(--grey-button);
  color: #3a3a3a;

  &:hover {
    background-color: var(--grey-button-hover);
  }
}

@mixin transparent-button {
  color: var(--main-color);
  background-color: white;

  &:hover {
    color: var(--main-color-dark);
    background-color: #f3f3f3;
  }

  &:active {
    background-color: #1876f217;
  }
}

@mixin rounded-button {
  border-radius: 4px;
}
