@import './responsive';
@import './wrapper';

@mixin nav {
  position: relative;
  background-color: var(--nav-bg-color);
  color: white;
  margin-bottom: 1em;
  z-index: 1;

  @include at-medium {
    margin-bottom: 2em;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
  }
}

@mixin nav-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;

  height: 55px;

  @include at-medium {
    height: 53px;
  }

  @include wrapper;
}
