@import './responsive';

@mixin table {
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.12);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  width: 100%;

  @include at-small {
    display: table;
    border-collapse: collapse;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin table-cell {
  padding: 0.5em 1em;

  &::before {
    content: attr(data-title);
    display: block;
    text-transform: uppercase;
    color: #9c9c9c;
  }

  @include at-small {
    display: table-cell;
    padding: 0.9em 2em;

    &::before {
      content: initial;
    }
  }
}

@mixin table-header-row {
  padding: 0.2em 0;
  background-color: var(--main-color);
  color: white;
  text-transform: capitalize;

  @include at-small {
    padding: 0;
    display: table-row;
  }

  & > div {
    @include table-cell;
  }
}

@mixin table-data-row {
  padding: 1em 0;
  color: #676767;
  transition: background-color 120ms;
  transform: scale(1);

  &:nth-child(odd) {
    background-color: #f6f6ff;
  }

  @include at-small {
    display: table-row;
  }

  & > div {
    @include table-cell;
  }
}

@mixin table-delete-icon {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.5em;

  @include at-small {
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
